.header_style {
  background-color: #efefef;
  margin-right: 0px;
  margin-left: 0px;
  height: 150px;

}
.logo {
  max-width: 140px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: auto;
  margin-right: auto;
}
.button_header {
  background-color: #87a1b0;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500px;
  color: white;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

.button_header:hover {
  transform: scale(0.8, 0.8) !important;
}

.buttonLink {
  color: #efefef;
  text-decoration: none;
}
.buttonLink:hover {
  transform: scale(0.8, 0.8) !important;
  color: #efefef;
}


@media screen and (max-width: 600px) {
  .button_header {
    width: 35vw;
    font-size: 4vw;
  }
}

@media screen and (min-width: 601px) {
  .button_header {
    width: 200px;
    font-size: 20px;
  }
}