.nav_bar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: auto;
  margin-top: -110px;
}

li:hover {
  transform: scale(1.2, 1.2) !important;
}

.nav_item:hover {
  color: #f7f7f8;
  font-weight: 1000;
}


