.nav_bar {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left:20%;
  margin-top: -70px;
  font-size: 20px;
  background-color:#efefef;
  color: black;
  
}
.navbar {
  width: 100%;
}




.nav_item:hover {
  color: #f7f7f8;
  font-weight: 1000;
}

.button_header_items {
  margin-left: 360px;
}


