.nav_bar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left:30px
  
}



li:hover {
  transform: scale(1.2, 1.2) !important;
}

.nav_item:hover {
  color: #f7f7f8;
  font-weight: 1000;
}


