.logo {
  max-width: 95px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: auto;
  margin-right: auto;
}
.button_header_items,
.button_header_profile {
  color: #87a1b0;
  border: none;
  background-color: #efefef;
  margin-top: 20px;
}
.button_header_items {
  margin-left: 75%;
}

.cart,
.profile {
  width: 30px;
  height: 30px;
  background-color: #efefef;
  margin-right: 30px;
}

.button_header_items:hover,
.button_header_profile:hover {
  transform: scale(1.2, 1.2);
  color: #87a1b0;
}
.snipcart-items-count {
  margin-right: 0px;
  margin-left: -20px;
}


@media screen and (max-width: 600px) {

  .NavBar0 {
    margin-top: 0px;
  }
  .button_header_items {
    margin-left: 10vw;

  }
  .NavBar {
    margin-top: 60px;
    margin-left: -50px;
   }
}

@media screen and (min-width: 601px) {
  
  .NavBar0 {
    margin-top: 0px;
  }
  .button_header_items {
    margin-left: 70vw;

  }
  .NavBar {
    margin-left: -50px;
   }
}

@media screen and (min-width: 701px) {
  
  .NavBar0 {
    margin-top: 0px;
  }
  .button_header_items {
    margin-left: 60vw;

  }
  .NavBar {
    margin-left: -50px;
   }
}